# Ignore dataset and results folders
dataset/
results/
models/
models/AnimeSR
models/BSRGAN
models/ResShift
models/SwinIR
models/z-ignored-models/latent-diffusion
service_account.json
.env
flask/decoded.json
flask/service_account_base64.txt
latex/
